- if list.present?

  .panel-group#discussion-list{ role: 'tablist' }
    - list.each do |discussion|
      .panel.panel-default
        .panel-heading{ role: 'tab' }
          %a.collapsed{ href: "[data-discussion=#{discussion.id}]",
          data: { toggle: 'collapse', parent: '#discussion-list' }}
            - if discussion.title.empty?
              = t 'discussions.discussion.title.default',
                  id: discussion.id, fid: params[:fid]
            - else
              = discussion.title
        .panel-collapse.collapse.discussion-body{ role: 'tabpanel',
        data: { discussion: discussion.id }}
          .panel-body

- else
  .alert.alert-info
    = nothing
