=content_for :action_nav do
  %ul.nav.navbar-nav.panel-menu
    %li
      = link_to '#', id: 'zoom-out-button',
      data: { placement: 'bottom' },
      title: t('nav.zoom_out') do
        = icon 'expand'
