// Place all the styles related to the Discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.discussion-list {

  color: #525252;

  .panel-title {
    color: #436E90;
    font-weight: bold;
  }

  .panel-body {
    background-color: #FBFBF0;

    .time {
      color: #808080;
    }
  }

}

.discussion {
  color: #525252;

  .discussion-header {
    padding: 10px;
    color: #FBFBF0;
    background-color: #436E90;
    border-color: #436E90;

    #back-to-discussions {
      color: #FBFBF0;
      padding-right: 10px;

      :hover {
        color: #dbdbdb;
      }
    }
  }

  .discussion-item {
    background-color: #FBFBF0;

    .comment-body {
      padding-left: 55px;
    }
  }
}
