body {
  color: #525252;
  background: #6AA6D6 image-url('devoops_pattern_b10.png') 0 0 repeat;
  padding-top: 50px;
  height: 100%
}

.body-expanded {
  overflow-y:hidden;
  margin-right: 15px;
}

.dark-nav {
  background: #525252 image-url('devoops_pattern_b10.png') 0 0 repeat;
  height: 50px;
}

#logo {
  position:relative;
  background: #525252 image-url('devoops_pattern_b10.png') 0 0 repeat;
}

#logo a {
  color: #fff;
  font-family: 'Righteous', cursive;
  display: block;
  font-size: 20px;
  line-height: 50px;
  background: image-url('logo.png') right 42px no-repeat;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navbar-header {
  position:relative;
  background: #525252 image-url('devoops_pattern_b10.png') 0 0 repeat;
  padding-left: 15px;
}

#logo a:hover {
  background-position: right 25px;
  text-decoration: none;
}

.navbar {
  border: 0;
  box-shadow: 0 1px 2px #272727;
}

.nav.main-menu {
  margin:0 -15px;
}

.nav.main-menu > li > a {
  text-align: center;
  color:#f0f0f0;
  min-height: 40px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.nav.main-menu > li > a:hover, .nav.main-menu > li > a:focus, .nav.main-menu > li.active > a, .nav.main-menu .open > a, .nav.main-menu .open > a:hover, .nav.main-menu .open > a:focus, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li.active > a {
  background:rgba(0, 0, 0, 0.1);
  color:#f0f0f0;
}
.nav.main-menu a.active {
  background:rgba(0, 0, 0, 0.2);
}
.nav.main-menu a.active:hover {
  background:rgba(0, 0, 0, 0.2);
}
.nav.main-menu a.active-parent {
  background: rgba(0, 0, 0, 0.3);
}
.nav.main-menu a.active-parent:hover {
  background: rgba(0, 0, 0, 0.3);
}
.nav.main-menu > li > a > i {
  font-size: 18px;
  width: auto;
  display: block;
  text-align: center;
  vertical-align: middle;
}

.tab-content {
  background:rgba(0, 0, 0, 0.1);
  color:#f0f0f0;
  padding-bottom: 3000px !important;
  margin-bottom: -2980px !important;
  overflow: hidden;
  padding-top: 10px;
}

#content {
  position: relative;
  z-index: 10;
  background: #ebebeb;
  box-shadow: 0 0 6px #131313;
  padding-bottom: 3000px !important;
  margin-bottom: -2980px !important;
  overflow: hidden;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 0px;
}

.box {
  display: block;
  z-index: 1999;
  position: relative;
  border: 1px solid #f8f8f8;
  box-shadow: 0 0 4px #D8D8D8;
  background: transparent;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.panel-menu {
  margin: 0;
}

#top-panel {
  line-height: 50px;
  height: 50px;
  background: #ebebeb;
}

.top-panel-right {
  padding-left: 0;
}

.panel-menu > li > a {
  padding: 0 5px 0 10px;
  line-height: 50px;
}

.panel-menu > li > a:hover {
  background: none;
}

.panel-menu a.account {
  height: 50px;
  padding: 5px 0 5px 10px;
  line-height: 18px;
}

.panel-menu i {
  margin-top: 8px;
  padding: 5px;
  font-size: 20px;
  color: #7BC5D3;
  line-height: 1em;
  vertical-align: top;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.panel-menu > li > a:hover > i {
  background: #f5f5f5;
}

.panel-menu i.pull-right {
  color: #000;
  border: 0;
  box-shadow: none;
  font-size: 16px;
  background: none !important;
}

.panel-menu .dropdown-menu {
  position: absolute !important;
  background: rgba(0, 0, 0, 0.7) !important;
  padding: 0;
  border: 0;
  right: 0;
  left: auto;
  min-width: 100%;
}
.panel-menu .dropdown-menu > li > a {
  padding:5px 10px !important;
  color:#f0f0f0;
}
.panel-menu .dropdown-menu > li > a > i {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  width: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.panel-menu a.account {
  height: 50px;
  padding: 5px 0 5px 10px;
  line-height: 18px;
}

.user-mini > span {
  display: block;
  font-size: 12px;
  color:#363636;
  margin-bottom: -4px;
}
.user-mini > span.welcome {
  font-weight: bold;
  margin-top: 2px;
}

.avatar {
  width: 40px;
  float: left;
  margin-right: 5px;
}
.avatar > img {
  width:40px;
  height:40px;
  border: 1px solid #F8F8F8;
}