div.leaflet-control-zoom {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}
div.leaflet-control-zoom a {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 18px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 22px;
    width:22px;
    line-height: 19px;
    background: #130085; /* fallback for IE - IE6 requires background shorthand*/
    background: rgba(0, 60, 136, 0.5);
    filter: alpha(opacity=80);
}
div.leaflet-control-zoom a:hover {
    background: #130085; /* fallback for IE */
    background: rgba(0, 60, 136, 0.7);
    height: 22px;
    width:22px;
    color: white;
    line-height: 19px;
    filter: alpha(opacity=100);
}

a.leaflet-control-zoom-in {
    border-radius: 4px 4px 0 0;
}
a.leaflet-control-zoom-out {
    border-radius: 0 0 4px 4px;
}