%head
  %meta{charset: "utf-8"}
  %meta{viewport: "width=device-width, initial-scale=1.0"}
  %title= t 'title'

  %link(href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css')

  =# favicon_link_tag 'favicon.ico'
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
